/* GLOBAL */
:root{
    --body-bg:#fafafa;
    --text-color:#111517;
    --element-bg:#fff;
    --form-text-color:#848484;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Nunito Sans', 'Arial',  sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
    transition: all 0.4s ease;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.dark-mode{
    --body-bg: #202c36;
    --text-color: #fff;
    --element-bg: #2b3844;
    --form-text-color:#fff;
}

.main-content {
    flex-grow: 1;
    padding-top: 48px;
    padding-right: 80px;
    padding-bottom: 48px;
    padding-left: 80px;

}

.main-content-country{
    padding-top: 80px;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1320px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: none;
}

/* HEADER */
.header {
    margin-top: 0;
    margin-bottom: 48px;
    padding: 30px 80px;
    background-color: var(--element-bg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header-logo-link {
    margin-top: 0;
    font-size: 24px;
    line-height: normal;
    font-weight: 800;
    color: var(--text-color);
}

.site-header-logo-link:hover{
    opacity: 0.8;
}

.site-header-logo-link:active{
    opacity: 0.6;
}

.button-dark-toggle {
    display: flex;
    align-items: center;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--text-color);
}

.button-dark-toggle:hover{
    opacity: 0.8;
}

.button-dark-toggle:active{
    opacity: 0.6;
}

.button-dark-toggle-icon {
    margin-right: 8px;
}

.button-dark-toggle-text {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

/* FORM-SEARCH */

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.form-search-input {
    min-width: 480px;
    padding: 18px 32px;
    font-size: 14px;
    line-height: 1.44;
    font-weight: 400;
    color: var(--form-text-color);
    background-color: var(--element-bg);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
}

.form-select{
    min-width: 200px;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    background-color: var(--element-bg);
    color: var(--form-text-color);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
}

/* INDEX-COUNTRIES */
.index-countries {
    margin-top: 0;
    padding-top: 33px;
}

.index-countries-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: -67px;
    margin-left: -75px;
}

.index-country-item {
    width: calc(25% - 75px);
    margin-bottom: 67px;
    margin-left: 75px;
    border-radius: 5px;
}


/* INDEX-COUNTRY */
.country{
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--element-bg);
}
.index-country-item-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: right top 5px, left top 5px;
    overflow: hidden;
}

.country-item-info {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-color: var(--element-bg);
}

.country-item-link{
    color: var(--text-color);
}

.country-item-link:hover{
    opacity: 0.8;
}

.country-item-link:active{
    opacity: 0.6;
}

.country-item-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
}

.country-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.country-details-item {
    display: flex;
}

.country-details-item:not(:last-child){
    margin-bottom: 8px;
}

.country-details-title {
    font-weight: 600;
}

.country-details-value {
    font-weight: 300;
    margin-left:4px;
}


/* COUNTRY-PAGE */
.country-page-back-wrapper {
    display: inline-flex;
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow:  0 0 7px 0px rgba(0, 0, 0, 0.3);
}

.country-page-back-wrapper:hover{
    opacity: 0.8;
}

.country-page-back-wrapper:active{
    opacity: 0.6;
}

.country-page-back-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: var(--text-color);
}

.country-page-text {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    color: var(--text-color);
}

.country-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.country-page-img {
    width: 560px;
    height: 400px;
    margin-right: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.country-page-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.country-page-info-heading {
    margin-top: 0;
    margin-bottom: 23px;
    align-self: start;
    font-size: 32px;
    line-height: normal;
    font-weight: 800;
}

.country-info-inner {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.country-page-details{
    display: flex;
    margin-top: 0;
    margin-bottom: 68px;
}

/* BORDER-COUNTRIES */
.border-countries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.border-country-heading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin-right: 15px;
}

.border-country-link {
    display: flex;
    align-items: center;
    padding: 4px 27px;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    border: 0px  solid #979797;
    border-radius: 2px;
    color: var(--text-color);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.border-country-link:not(:last-child){
    margin-right: 10px;
}